.bg {
    box-sizing: border-box;
    border: none;
    display: flex;
    position: fixed;
    z-index: 997;
    top: 0;
    left: 0;
    width: 100dvw;
    height: 100dvh;
}
.position-center-center {
    align-items: center;
    justify-content: center;
}
.position-center-left {
    align-items: center;
    justify-content: flex-start;
}
.position-center-right {
    align-items: center;
    justify-content: flex-end;
}
.position-top-center {
    align-items: flex-start;
    justify-content: center;
}
.position-top-left {
    align-items: flex-start;
    justify-content: flex-start;
}
.position-top-right {
    align-items: flex-start;
    justify-content: flex-end;
}
.position-bottom-center {
    align-items: flex-end;
    justify-content: center;
}
.position-bottom-left {
    align-items: flex-end;
    justify-content: flex-start;
}
.position-bottom-right {
    align-items: flex-end;
    justify-content: flex-end;
}

.container {
    position: relative;
    z-index: 998;
}

.defaultCloseIcon{
    background-color: transparent;
    border: none;
    outline: none;
    padding: 0;
}

.closeHandler {
    position: absolute;
    z-index: 999;
    font-size: 16px;
    cursor: pointer;
}

.modal-wrapper.animation {
    opacity: 0;
    transition: opacity 0.1s ease-out;
}

.modal-wrapper.animation.visible {
    opacity: 1;
}
